module.exports = {

	ssl: {
		key: "ssl/key.pem",
		cert: "ssl/cert.pem"
	},

	cors_origins: [
		"*"
	],

	base_url: 'http://localhost:5000',
	port: 5000,
	db_dsn: "postgres://localhost:5432/aarg",

	image_widths: [
		700, 1400, 1065, 2130
	],

	session_secret: '', // openssl rand -base64 32

	email_from: '"Your Name" <name@example.com>',
	smtp: {
		host: 'smtp.example.com',
		port: 465,
		secure: true, // true for 465, false for other ports
		auth: {
			user: 'email username',
			pass: 'email password'
		}
	}
};
