module.exports = {

	ssl: {
		key: "ssl/key.pem",
		cert: "ssl/cert.pem"
	},

	cors_origins: [
		"*"
	],

	base_url: 'https://localhost:5000',
	port: 5000,
	db_dsn: "postgres://localhost:5432/foom",

	session_secret: '', // openssl rand -hex 24

	email_from: '"Your Name" <name@example.com>',

	// EITHER ... use plain vanilla SMTP
	smtp: {
		host: 'smtp.example.com',
		port: 465,
		secure: true, // true for 465, false for other ports
		auth: {
			user: 'email username',
			pass: 'email password'
		}
	}

	// OR ... you can use SendGrid instead
	// sendgrid_api_key: 'xxxxxxxxxxx'
};
