name: Organizer Network
tagline: Tools and strategies for social justice organizing.
about: |
    We are a group of political organizers gathering on a decentralized computer
    network, working on a variety of social justice issues. Join us!
