<div id="intro">
	<div class="content">
		<div class="heading">
			<h1>Organizer Network</h1>
			<h2 class="tagline">Tools and strategies for social justice organizing.</h2>
		</div>
		<div class="options">
			<p>Hello, <%= person.name || person.email %>.</p>
			<ul>
				<li><a href="/logout">logout</a></li>
			</ul>
		</div>
	</div>
</div>
