<div id="intro">
	<div class="content">
		<div class="heading">
			<h1>Organizer Network</h1>
			<h2 class="tagline">Tools and strategies for social justice organizing.</h2>
		</div>
		Hello, <%= person.name || person.email %>. <a href="/logout">logout</a>
	</div>
</div>
