<div id="intro">
	<div class="content">
		<div class="heading">
			<h1>Organizer Network</h1>
			<h2 class="tagline">Tools and strategies for social justice organizing.</h2>
		</div>
		<form action="/api/login" method="post" id="login">
			<label for="email">
				Email address
			</label>
			<input type="email" id="email" name="email" placeholder="email@address.com">
			<input type="submit" value="Start →">
			<div class="loading">Please wait...</div>
			<div class="email-sent">Email sent, please check your inbox.</div>
			<div id="login-response"></div>
		</form>
	</div>
</div>
