<div id="intro">
	<div class="content">
		<div class="heading">
			<h1>Organizer Network</h1>
			<h2 class="tagline">Tools and strategies for social justice organizing.</h2>
		</div>
		<form action="/api/login" method="post" id="login">
			<% if (invite) { %>
				<input type="hidden" name="context" value="<%= invite %>">
			<% } %>
			<% if (then) { %>
				<input type="hidden" name="then" value="<%= then %>">
			<% } %>
			<div class="step"><span class="number">1</span> <span class="text">Login by email</span></div>
			<div class="controls">
				<label for="email">
					Email address
				</label>
				<input type="email" id="email" name="email" placeholder="email@address.com">
				<input type="submit" value="Start →">
			</div>
			<div class="response"></div>
			<div class="step"><span class="number">2</span> Setup your profile</div>
			<div class="step"><span class="number">3</span> Organize and raise hell!</div>
		</form>
		<div id="about">
			We are a group of political organizers gathering on a decentralized computer network, working on a variety of social justice issues. Join us!
		</div>
		<br class="clear">
	</div>
</div>
