<div class="message">
	<h4 class="person"><a href="/<%= message.slug %>"><%= name(message) %></a></h4>
	<pre class="message-content"><%= message.content %></pre>
	<div class="meta timestamp"><%= date(message.created) %></div>
</div>
