@import url("reset.css");
@import url("border-box.css");
@import url("source-sans/source-sans-pro.css");

body {
	/* http://markdotto.com/2018/02/07/github-system-fonts/ */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 16px;
	line-height: 1.25em;
	color: #fff;
	background: #222;
}

a {
	color: #4E6FFF;
}

p {
	margin-top: 1em;
}

form {
	width: 100%;
	max-width: 100%;
}

h1, h2, h3, h4, h5 {
	font-family: "source sans pro", sans-serif;
	font-weight: bold;
	line-height: 1.5em;
}

h1 {
	font-size: 28px;
	line-height: 28px;
	margin-bottom: 10px;
}

h2 {
	font-size: 20px;
	line-height: 20px;
	font-style: italic;
}

ul {
	margin: 1em 0;
}

li {
	margin-top: 0.5em;
}

ul ul {
	margin-top: 0;
}

ul ul li {
	margin-left: 1.5em;
}

ul.back li::before {
	font-family: arial;
	content: "↩︎ ";
}

footer {
	color: #ccc;
	background: #222;
}

footer a {
	color: #fff;
}

label {
	font-weight: bold;
	display: block;
	margin: 2em 0 0.75em 0;
}

b, strong {
	font-weight: bold;
}

i, em {
	font-style: italic;
}

code {
	font-family: menlo, monospace;
}

pre {
	white-space: pre-wrap;
	font-family: menlo, monospace;
	font-size: 0.9em;
}

input[type="email"],
input[type="text"],
textarea,
select {
	display: block;
	font-family: menlo, monospace;
	font-size: 16px;
	background: #fff;
	padding: 15px;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 2px solid #ccc;
	border-radius: 0;
	width: 100%;
	max-width: 100%;
	background: #f2f2f2;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

input[type="email"]:focus,
input[type="text"]:focus,
textarea:focus {
	border-color: #1DDA4F;
}

input[type="email"]:invalid,
input[type="text"]:invalid,
textarea:invalid,
select:invalid {
	box-shadow: none;
	border-color: #ff0000;
}

textarea {
	line-height: 1.5em;
}

select {
	display: inline-block;
	width: auto;
}

input[type="submit"],
.button {
	display: block;
	text-transform: uppercase;
	margin-top: 2em;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: bold;
	font-size: 14px;
	padding: 16px;
	border-radius: 4px;
	color: #fff;
	background: #4E6FFF;
	cursor: pointer;
	border: none;
	text-decoration: none;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.button.inline {
	display: inline-block;
	margin-top: 0;
}

.button.cancel {
	display: inline-block;
	background: #808080 !important;
	margin-left: 7px;
}

input[type="submit"]:hover,
.button:hover,
.button.cancel:hover {
	background: #6835E7 !important;
}

input[type="submit"]:active,
.button:active,
.button.cancel:active {
	background: #1DDA4F !important;
}

.message.editing textarea {
	margin-top: 1em;
}

.message.editing .button,
.message.editing input[type="submit"] {
	margin-top: 0;
	margin-bottom: 0.5em;
}

#view {
	color: #222;
	background: #fff;
}

#unsubscribed .button {
	display: inline-block;
}

#intro {
	position: relative;
	width: 100vw;
	padding-bottom: 3em;
}

#intro .heading {
	color: #fff;
	background-image: linear-gradient(33deg, #4E6FFF, #1DDA4F);
	background-size: 100vw auto;
}

#intro .options {
	width: 100%;
	padding: 1em 0 0 0;
}

#intro .contexts {
	width: 100%;
	padding: 1em 0 0 0;
}

#intro .contexts .group {
	margin-top: 2em;
}

#intro .latest {
	margin-top: 1em;
}

#intro .latest .person {
	font-weight: bold;
	text-decoration: none;
	color: #222;
}

#intro .latest .person:hover {
	text-decoration: underline;
	color: #4E6FFF;
}

#intro .latest .body {
	margin-top: 0.5em;
}

#intro .subgroup {
	margin-top: 1em;
	margin-left: 2em;
}

#intro .timestamp {
	float: none;
	margin-top: 0.5em;
}

#error {
	position: relative;
	width: 100vw;
	min-height: 100vh;
	background-image: url('../img/error.gif');
	background-size: 100% auto;
}

#error h1 {
	margin-top: 0;
}

#error .content {
	position: absolute;
	top: 33%;
	color: #fff;
	background: rgba(0, 0, 0, 0.75);
	width: 100%;
	padding: 30px;
}

#error .content a {
	color: #fff;
}

#error.maintenance {
	background-image: url('../img/maintenance.jpg');
	background-size: auto auto;
}

#leave {
	position: relative;
	width: 100vw;
	min-height: 100vh;
	background-image: url('../img/leave.gif');
	background-size: 100% auto;
	background-repeat: no-repeat;
}

#leave h1 {
	margin-top: 0;
}

#leave .content {
	background: rgba(0, 0, 0, 0.75);
	transform: translateY(33%);
	padding-top: 0;
	width: auto;
	padding: 15px 30px 30px 30px;
}

#context {
	color: #333;
	background: #fff;
}

#context a {
	color: #4E6FFF;
}

#context #sidebar {
	margin-top: 2em;
}

#context #sidebar h2 {
	margin-top: 1.5em;
}

#context #sidebar h2:first-child {
	margin-top: 0;
}

#context input[type="submit"],
#context .button {
	color: #fff;
	background: #4E6FFF;
	display: inline-block;
	margin-top: 0;
}

#context input[type="submit"]:hover,
#context .button:hover {
	background: #6835E7;
}

#context input[type="submit"]:active,
#context .button:active {
	background: #333;
}

#context .response {
	color: #6835E7;
}

#message-list {
	margin: 2em 0;
	padding-bottom: 1em;
	border-bottom: 2px solid #333;
}

#context.thread #message-list {
	padding-bottom: 0;
	border-bottom: none;
}

#context.thread #messages {
	padding-bottom: 1em;
}

#about {
	padding-top: 1em;
	font-size: 20px;
	line-height: 1.5em;
}

#about h2 {
	margin-bottom: 0.5em;
}

#about .button {
	color: #fff;
	background: #6835E7;
	display: inline-block;
	margin-top: 1.5em;
}

#about .button:hover {
	background: #4E6FFF;
}

#login {
	margin-top: 1em;
}

#login .controls {
	max-height: 175px;
	transition: max-height 0.5s ease-out;
	overflow: hidden;
}

#login .controls label {
	margin-top: 0;
}

#login .controls.hidden {
	display: block;
	max-height: 0;
}

#login .response {
	margin-bottom: 2em;
}

#send {
	margin-top: 2em;
}

#send textarea {
	margin-bottom: 1em;
}

#profile input[type="submit"] {
	display: inline-block;
	margin-right: 10px;
}

#profile form {
	margin-top: 2em;
}

#slug-input {
	width: 200px;
	display: inline-block;
}

#invite-input {
	margin-top: 1em;
}

#invite-response {
	margin-top: 0.5em;
	color: #666;
}

#members .curr-person a {
	font-weight: bold;
}

#more-messages.disabled,
#more-messages.disabled:hover {
	background: #808080;
	cursor: default;
}

#privacy {
	margin-top: 5em;
}

#settings {
	padding-bottom: 2em;
}

#settings form {
	margin-top: 2em;
}

#settings label {
	margin-top: 1em;
	margin-bottom: 0;
}

#settings .help {
	margin-top: 0.5em;
	margin-left: 2em;
}

.content {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	padding: 20px;
}

.step {
	font-size: 18px;
	margin-bottom: 1em;
}

.step.selected .text {
	background: #6835E7;
	color: #fff;
	padding: 2px 5px;
}

.step .number {
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	background: #4E6FFF;
	color: #fff;
	width: 36px;
	height: 36px;
	line-height: 32px;
	border-radius: 18px;
	text-align: center;
	margin-right: 0.5em;
	border: 2px solid #fff;
}

.next-step {
	color: #fff;
	background: #6835E7;
	padding: 15px 20px;
	border-radius: 4px;
	margin-top: -15px;
}

.response {
	display: block;
	margin-top: 1.5em;
	font-weight: bold;
}

.message {
	position: relative;
	border-top: 2px solid #333;
	padding-top: 1em;
	margin-top: 1em;
}

#context.thread .page > .message:first-child {
	margin-top: 0;
}

.replies {
	padding-left: 1.5em;
	border-left: 4px solid #6835E7;
	border-top: 4px solid #6835E7;
	margin-bottom: 2em;
}

#context.thread .replies {
	padding-left: 0;
	border-left: 0;
}

#context.thread .replies.no-replies {
	margin-top: 0.5em;
	border-top: 2px solid #333;
}


.replies .message {
	border-top: none;
	border-bottom: 2px dotted #6835E7;
	padding: 0.5em 0 1.5em 0;
}

#context.thread .replies .message {
	padding: 0 0 1em 0;
}

.reply-form {
	padding-top: 1.5em;
}

.reply-form input[type="submit"] {
	background: #6835E7 !important;
}

.reply-form input[type="submit"]:hover {
	background: #4E6FFF !important;
}

.message-options {
	display: none;
	position: absolute;
	right: 0;
	top: 1em;
}

.message-options .delete {
	font-weight: bold;
	margin-left: 7px;
}

.message-content {
	margin: 1em 0;
	line-height: 1.5em;
}

.meta {
	color: #999;
}

.meta a {
	color: #999 !important;
	text-decoration: none;
}

.meta a:hover {
	color: #4E6FFF !important;
	text-decoration: underline;
}

.meta.reply {
	float: left;
}

.reply a {
	color: #999 !important;
	text-decoration: none;
}

.reply a:hover {
	color: #4E6FFF !important;
	text-decoration: underline;
}

#context.thread .reply a.selected:hover {
	text-decoration: none;
	cursor: default;
}

.reply a.selected {
	display: inline-block;
	color: #fff !important;
	background: #6835E7;
	padding: 5px 10px 3px 10px;
}

.meta.timestamp,
.meta.revisions {
	float: right;
}

.meta.revisions {
	margin-right: 1.5em;
}

.message.show-revisions .timestamp a,
.message.show-revisions > .message-content {
	display: none;
}

.message.show-revisions .message-options {
	display: none !important;
}

.message .clear {
	display: block;
	clear: both;
}

.heading {
	padding: 3em 0 0 0;
}

.about-person {
	padding: 2em 0;
}

.person a {
	color: #333;
	text-decoration: none;
}

.person a:hover {
	color: #4E6FFF;
	text-decoration: underline;
}

.radio-group {
	margin: 1em 0;
}

.radio-group label {
	display: inline;
}

.help {
	font-size: 0.8em;
	color: #808080;
}

.radio-group .help {
	margin-left: 1em;
}

.hidden {
	display: none;
}

.headroom {
	margin-top: 30px;
}

.clear {
	display: none;
}

.message.editing .message-options,
.message.editing .message-content,
.message.editing .meta {
	display: none !important;
}

.message.editing form .response {
	margin-top: 0.5em;
}

.topic {
	font-style: italic;
	margin-top: 0.5em;
}

nav {
	background-image: linear-gradient(90deg, #6835E7, #4E6FFF);
}

nav a {
	color: #fff;
	font-size: 1em;
	font-family: "source sans pro", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
	font-weight: bold;
	display: inline-block;
	padding: 20px 15px;
	text-decoration: none;
}

nav a:hover {
	background: rgba(255, 255, 255, 0.1);
}

nav .profile {
	float: right;
}

nav .clear {
	display: block;
	clear: both;
}

@media screen and (min-width: 760px) {

	h1 {
		font-size: 28px;
		line-height: 28px;
	}

	h2 {
		font-size: 20px;
		line-height: 20px;
	}

	nav {
		padding: 0 15px;
	}

	pre {
		font-size: 1em;
	}

	.heading {
		padding: 6em 0 0 0;
	}

	#context, #intro > .content {
		padding-top: 4em;
	}

	#intro .heading {
		padding-top: 10em;
	}

	#login {
		margin-top: 0;
	}

	#messages, #main {
		float: left;
		width: calc(66% - 1em);
		padding-bottom: 5em;
	}

	#profile {
		padding-bottom: 5em;
	}

	#context #sidebar {
		margin-top: 0;
		float: right;
		width: calc(33% - 1em);
	}

	#login, #about {
		float: left;
		width: calc(50% - 1em);
	}

	#about {
		float: right;
		padding-top: 0;
	}

	#intro .contexts {
		width: 66%;
		float: left;
	}

	#intro .options {
		width: 33%;
		float: right;
	}

	#group-url {
		white-space: nowrap;
	}

	.clear {
		display: block;
		clear: both;
	}
}
