@import url("reset.css");
@import url("border-box.css");
@import url("source-sans/source-sans-pro.css");

body {
	/* http://markdotto.com/2018/02/07/github-system-fonts/ */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 16px;
	line-height: 1.25em;
	color: #fff;
	background: #222;
}

a {
	color: #fff;
}

form {
	width: 100%;
	max-width: 750px;
}

h1, h2, h3, h4, h5 {
	font-family: "source sans pro", sans-serif;
	font-weight: bold;
	line-height: 1.5em;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.25em;
	font-style: italic;
}

ul {
	margin: 1em 0;
}

li {
	margin-top: 0.5em;
}

ul li::before {
	content: "→ ";
}

label {
	display: block;
	margin: 2em 0 0.5em 0;
}

b, strong {
	font-weight: bold;
}

i, em {
	font-style: italic;
}

code {
	font-family: menlo, monospace;
}

pre {
	white-space: pre;
	font-family: menlo, monospace;
}

input[type="email"],
input[type="text"],
textarea {
	display: block;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 16px;
	background: #fff;
	padding: 10px;
	border: 2px solid #4E6FFF;
	width: 100%;
	max-width: 100%;
}

input[type="email"]:focus,
input[type="text"]:focus,
textarea:focus {
	border: 2px solid #1DDA4F;
}

input[type="submit"] {
	position: relative;
	display: block;
	text-transform: uppercase;
	margin-top: 2em;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: bold;
	font-size: 14px;
	padding: 14px;
	border-radius: 4px;
	color: #fff;
	background: #4E6FFF;
	cursor: pointer;
	border: none;
}

input[type="submit"]:hover {
	background: #6835E7;
}

input[type="submit"]:active {
	background: #1DDA4F;
}

form .response {
	display: block;
	margin-top: 1.5em;
	font-weight: bold;
}

#intro {
	position: relative;
	width: 100vw;
	min-height: calc(100vh - 2em);
	background-image: linear-gradient(33deg, #6835E7, #4E6FFF, #1DDA4F), url("../img/bg.png");
	background-size: 100vw 100vh, 100vw auto;
	background-position: top center;
	background-blend-mode: multiply;
}

#intro::after {
	position: absolute;
	bottom: -1.25em;
	right: 2em;
	content: "↓ scroll down for more";
	color: rgba(255, 255, 255, 0.75);
	background: #6835E7;
	padding: 10px 15px;
	border-radius: 4px;
}

#intro.above::after {
	content: "↑ scroll up for more";;
}

#intro .options {
	width: 100%;
	max-width: 750px;
	padding: 0 0 5em 0;
}

#error {
	position: relative;
	width: 100vw;
	min-height: calc(100vh - 2em);
	background-image: url('../img/error.gif');
	background-size: 100% auto;
	background-repeat: no-repeat;
}

#error h1 {
	margin-top: 0;
}

#error .content {
	background: rgba(0, 0, 0, 0.75);
	transform: translateY(33%);
	padding-top: 0;
	width: auto;
	padding: 15px 30px 30px 30px;
}

#context {
	color: #333;
	background: #fff;
}

#message-list {
	padding-top: 1em;
}

#about {
	font-size: 20px;
	line-height: 1.5em;
}

#login .response {
	margin-bottom: 2em;
}

#send {
	margin-top: 1.25em;
}

#profile {
	background-image: linear-gradient(120deg, #1DDA4F, #4E6FFF, #6835E7);
}

#profile input[type="submit"] {
	background: #6835E7;
	display: inline-block;
	margin-right: 10px;
}

#profile input[type="submit"]:hover {
	background: #1DDA4F;
}

#profile input[type="submit"]:active {
	background: #fff;
}

#profile form {
	margin-top: 2em;
}

#slug-input {
	width: 200px;
	display: inline-block;
}

.content {
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
	padding: 15px;
}

.step {
	font-size: 18px;
	margin-bottom: 1em;
}

.step.selected .text {
	background: #6835E7;
	color: #fff;
	padding: 2px 5px;
}

.step.selected .text::before {
	content: "→ ";
}

.step .number {
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	background: #fff;
	color: #6835E7;
	width: 32px;
	height: 32px;
	line-height: 28px;
	border-radius: 15px;
	text-align: center;
	margin-right: 0.5em;
	border: 2px solid #fff;
}

.step.selected .number {
	background: #6835E7;
	color: #fff;
}

.message {
	border-top: 2px solid #333;
	padding-top: 1em;
	margin-top: 1em;
}

.message-content {
	margin: 1em 0;
}

.meta {
	font-size: 12px;
	color: #999;
}

.heading {
	margin: 2em 0 0 0;
	padding: 0 0 2em 0;
	border-bottom: 2px solid #fff;
}

.about-person {
	margin-bottom: 2em;
}

.person a {
	color: #333;
	text-decoration: none;
}

.person a:hover {
	color: #4E6FFF;
	text-decoration: underline;
}

.hidden {
	display: none;
}

.clear {
	display: none;
}

@media screen and (min-width: 760px) {

	.heading {
		margin: 8em 0 2em 0;
	}

	#context {
		padding-top: 1em;
	}

	#messages {
		float: left;
		width: calc(66% - 1em);
		padding-bottom: 5em;
	}

	#profile {
		padding-bottom: 5em;
	}

	#members {
		float: right;
		width: calc(33% - 1em);
	}

	#login, #about {
		float: left;
		width: calc(50% - 1em);
	}

	#about {
		float: right;
	}

	.clear {
		display: block;
		clear: both;
	}
}
